#p1{
    color: blue;
}
#p2{
    color: blueviolet;
}

#p3{
    color: brown;
}
#p4{
    color: chartreuse;
}
#p5{
    color: fuchsia;
}
.p6{
    color: red;
}
.p7{
    color: tomato;
}
.P8{
    color: darkcyan;
}