

p{
    background-color: brown;
    color: aquamarine;
    font-size: 60px;
    height: 150px;
    width: 700px;
}

#p79{
    background-color: blue;
    color: chocolate;
}

#p900{
    background-color: crimson;
    color: limegreen;
}

#p100{
    background-color: aquamarine;
    color: blueviolet;
}

#p23{
    background-color: teal;
    color: yellow;
}

