.div1{
    margin-right:20px ;
    border-radius: 10px;
    background-color: aliceblue;
    height: 400px;
    width: 300px;
}

body{
    display: flex;
    background-color: gray;
}

img{
    border-radius: 10px;
    height: 195px;
    width: 300px;
}

h4{
    font-family: sans-serif;
    color: gray;
    margin: 20px;
}

p{
    font-family: sans-serif;
    color: gray;
    margin: 20px;
}

button{
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    width: 264px;
    height: 35px;
    font-size: 25px;
    color: gray;
    text-align: center;
    border:1px double gray;
}

.div2{
    margin-right:30px ;
    border-radius: 10px;
    background-color: aliceblue;
    height: 400px;
    width: 300px;
}

.p2{
    font-size: small;
}

.div3{
    border-radius: 10px;
    background-color: aliceblue;
    height: 400px;
    width: 300px;
}