h2{
    font-family: sans-serif;
    color: aliceblue;
}

p{
    color: aliceblue;
    font-family: sans-serif;
}

button{
    height: 30px;
    width: 120px;
    background-color: rgb(0, 162, 255);
    border-radius: 20px;
    color: aliceblue;
}

div{
    margin-right: 20px;
    border-radius: 7px;
    background-color: rgb(0, 247, 255);
    width: 250px;
    height: 350px;
    padding: 10px;
}


body{
    display: flex;
}

.div2{
    background-color: rgb(207, 210, 30);
}

.but2{
    background-color: rgb(185, 161, 27);
}

.div3{
    background-color: rgba(13, 65, 143, 0.993);
}

.but3{
    background-color: rgba(0, 0, 255, 0.185);
}