body{
    display: flex;
}

.div1{
    margin: 40px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

.div1:hover{
    transition: 1s;
    transform: translateY(-20px);
}



.div2{
    margin: 40px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

.div2:hover{
    transition: 1s;
    transform: translate(20px);
}


.div3{
    margin: 40px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

.div3:hover{
    transition: 1s;
    transform: translate(-20px);
}

.div4{
    margin: 40px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

.div4:hover{
    transition: 1s;
    transform: translatey(20px);
}
