.p1{
    text-align: right;
    text-decoration: underline dotted green;
}
.p2{
    text-align: center;
    text-decoration: line-through  ;
}
.p3{
    text-align: left;
    text-decoration: overline double red;
}
.p4{
    text-align: center;
    text-decoration: underline;
}
.p5{
    text-align: right;
    text-decoration: line-through dotted green;
}
.p6{
    text-align:left ;
    text-decoration: line-through;
}
.p7{
    text-align: left;
    text-decoration: overline;
}
.p8{
    color: antiquewhite;
    text-align: center;
    text-decoration: overline antiquewhite;
}
.p9{
    text-align: right;
    text-decoration: underline dotted green;
}

