

h1{
    color: skyblue;
}

h2{
    color: red;
}
h3{
    color: chartreuse;
}

h4{
    color: yellow;
}

h5{
    color: salmon;
}

h6{
    color: blueviolet;
}

body{
    background-color: black;
}

h22{
    font-size: 59px;
}

