img{
    margin-left: 1000px;
    height:700px;
    width: 900px;
}


div{
    position: fixed;
    top: 50%;
    left: 150px;
}


h1{
    font-family: sans-serif;
    font-weight: 200;
}


h4{
    font-family: sans-serif;
    font-weight: 200;
}