body{
    background-color: (0, 0%, 8%);
}

div{
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    height:500px ;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h3{
    font-family: sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

h5{
    font-weight: 600;
    font-family: sans-serif;
    color: hsl(75, 94%, 57%);
}

p{
    font-size: small;
    font-weight: 700;
    font-family: sans-serif;
    color: gray;
}


button{
    border: 1px double hsl(0, 0%, 20%);
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 20%);
    font-family: sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    width:240px ;
    height: 37px;
}

button:hover{
    transition: 1s;
    background-color:hsl(75, 94%, 57%) ;
    border: 1px double hsl(75, 94%, 57%);
}