h1{
    color: royalblue;
}
h2{
    color: red;
}
h3{
    color: rgb(234, 255, 5);
}
h4{
    color: green;
}
h5{
    color: blueviolet;
}
body{
    background-image:url(https://cdn.1tv.ge/app/uploads/2022/11/1667469696-ცისარტყელა-32.jpg);

}
